<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">
    <meta name="darkreader-lock">
    <meta name="description" content="Dont give shady companies your real email. Use 48hr.email to protect your privacy!">
    <meta property="og:image" content="/images/logo.png">

    <link rel="shortcut icon" href="/images/logo.ico">
    <link rel='stylesheet' href='/dependencies/milligram.css' />
    <link rel='stylesheet' href='/stylesheets/custom.css' />

    <script src="/socket.io/socket.io.js" defer="true"></script>
    <script src="/javascripts/notifications.js" defer="true"></script>

  </head>
  <body>
  <main>
    <a href="/">
      <img src="/images/logo.png" class="logo" style="max-width: 75px">
    </a>
    {% block body %}{% endblock %}
  </main>

    {% block footer %}
    <section class="container footer">
      <hr>
      <h4>{{ branding[0] }} offered by <a href="{{ branding[2] }}" style="text-decoration:underline" target="_blank">{{ branding[1] }}</a> | All Emails will be deleted after {{ purgeTime | raw }} | Currently handling <u><i>{{ count }}</i></u> Emails</h4>
      <h4 class="container footer-two"> This project is <a href="https://github.com/crazyco-xyz/48hr.email" style="text-decoration:underline" target="_blank">open-source ♥</a></h4>
    </section>
    {% endblock %}


  </body>
</html>
