{% extends 'layout.twig' %}

{% block header %}
    <div class="action-links">
        <a href="/inbox/{{ example }}">Example Inbox</a>
    </div>
{% endblock %}

{% block body %}
<div id="login">
    <h1>Welcome!</h1>
    <h4>Here you can either create a new Inbox, or access your old one</h4>

    {% if userInputError %}
        <blockquote class="warning">
            Your input was invalid. Please try other values.
        </blockquote>
    {% endif %}
    <form method="POST" action="/">
        <fieldset>
            <label for="nameField">Name</label>
            <input type="text" id="nameField" name="username" value="{{ username }}">
            <label for="commentField">Domain ({{ domains|length }})</label>
            <div class="dropdown">
                <select id="commentField" name="domain">
                    {% for domain in domains %}
                        <option value="{{ domain }}">{{ domain }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="buttons">
                <input class="button" type="submit" value="Access This Inbox">
                <a class="button" href="/inbox/random">Create Random Inbox</a>
            </div>
        </fieldset>
    </form>
</div>

{% endblock %}
