{% extends 'layout.twig' %}

{% block body %}

    <div style="float: right; text-align: end;">
	    <a href="/{{ address }}">
	        ← Return to inbox</a>
	    <br>
        <a href="/{{ address }}/delete/{{ uid }}">
            Delete Email</a>
	    <br>
        <a href="/login">
            Logout</a>
    </div>
    <hr>
	<div style="text-align: center;">
    <h1>{{ mail.subject }}</h1>
    </div>
    {% if mail.html %}
    <div>
		<iframe srcdoc='{{ mail.html|replace({'<html>': '<html style="color: white"'}) }}'></iframe>
	</div>
    {% elseif mail.textAsHtml %}
        <div class="mail_body">
            {{ mail.textAsHtml|raw }}
	</div>
    {% else %}
        <div class="mail_body"></div>
    {% endif %}
    <h3 style="text-align: center;display: block;">{{ mail.from.text }} | {{ mail.date| date }}</h3>


{% endblock %}
